<!doctype html>
<html lang="en">
<head>
    <%- include('layouts/head'); %>

    <title>About (Music) — Adory Vo</title>
</head>

<body class="h-screen">
<%- include('layouts/navbar', {active: 'about'}); %>

<%- include('layouts/main-open', {title: 'About (Music)'}); %>
<div>
    I enjoy listening to new music and curating various playlists in my spare time! Here are some of my favorite
    artists and projects.
    <br>
    <h2 class="font-semibold text-blue-200 my-3">Top 100 Albums (not particularly ordered; click picture to
        enhance)</h2>
    <img id="favMusic" tabindex="0" src="images/fav-music.png" alt="">
    <h2 class="font-semibold text-blue-200 my-3">Favorite Tracks</h2>
    <iframe src="https://open.spotify.com/embed/playlist/5Mx2GuWlNpbpYRix5VbQxx"
            class="rounded-lg" height="380"
            allowtransparency="true" style="width: 100%; border:none;"
            allow="encrypted-media"></iframe>
    <h2 class="font-semibold text-blue-200 my-3">Spotify</h2>
    <div class="bg-secondary-900 inline-block p-2 rounded-lg">
        <iframe src="https://open.spotify.com/follow/1/?uri=spotify:user:exobyterotmg&size=detail&theme=dark&show-count=1"
                width="300" height="56"
                style="border:none; overflow:hidden; font-family: 'Livvic', sans-serif;"
                allowtransparency="true"></iframe>
    </div>
</div>
<%- include('layouts/main-close'); %>

<%- include('layouts/footer'); %>

<!-- Bundled JS: jQuery,  -->
<script src="scripts/bundle.js"></script>

<!-- Custom Scripts -->
<script src="scripts/navbar-init.js"></script>
<script src="scripts/footer-init.js"></script>
</body>
</html>