<!doctype html>
<html lang="en">
<head>
    <%- include('../layouts/head'); %>

    <title>Projects — Adory Vo</title>
</head>

<body class="min-h-screen">
<%- include('../layouts/navbar', {active: 'projects'}); %>

<%- include('../layouts/main-open', {title: 'Projects'}); %>
<p>
    This page is a work in progress. Come back soon!
</p>
<%- include('../layouts/main-close'); %>

<%- include('../layouts/footer'); %>

<!-- Bundled JS: jQuery,  -->
<script src="scripts/bundle.js"></script>

<!-- Custom Scripts -->
<script src="scripts/navbar-init.js"></script>
<script src="scripts/footer-init.js"></script>
</body>
</html>