<!doctype html>
<html lang="en">
<head>
    <%- include('../layouts/head'); %>

    <title>Projects — Adory Vo</title>
</head>

<body class="min-h-screen">
<%- include('../layouts/navbar', {active: 'projects'}); %>

<%- include('../layouts/main-open', {title: 'Projects'}); %>
<p class="mb-8">
    This page is a work in progress - visit <a href="https://adoryvo.github.io/projects/index.html" target="_blank"
                                               class="text-blue-200 hover:text-blue-300">my old website</a>
    to see my projects there. Come back soon!
</p>
<h2 class="text-xl font-semibold text-blue-300 mb-3">Work In Progress</h2>
<ul class="list-disc list-inside mb-8">
    <li>
        <a class="text-blue-400" href="/projects/restaurant-roulette">Restaurant Roulette</a>
    </li>
</ul>
<%- include('../layouts/main-close'); %>

<%- include('../layouts/footer'); %>

<!-- Bundled JS: jQuery,  -->
<script src="/scripts/bundle.js"></script>

<!-- Custom Scripts -->
<script src="/scripts/navbar-init.js"></script>
<script src="/scripts/footer-init.js"></script>
</body>
</html>