<!doctype html>
<html lang="en">
<head>
    <%- include('../layouts/head'); %>

    <title>Projects — Restaurant Roulette</title>
</head>

<body class="min-h-screen">
<%- include('../layouts/navbar', {active: 'projects'}); %>

<%- include('../layouts/main-open', {title: 'Restaurant Roulette'}); %>
<p class="text-md text-gray-200 mb-1">A tool to randomly select restaurants open around La Jolla!</p>
<details class="text-gray-300 mb-8">
    <summary class="italic">Current restaurant pool</summary>
    <ol id="restaurantPool" class="list-decimal list-inside">

    </ol>
</details>
<h2 class="text-xl font-semibold text-blue-300 mb-3">Restaurants open now</h2>
<ul id="openRestaurants" class="list-disc list-inside mb-8">
    
</ul>
<h6 class="text-lg font-semibold mb-3">Choice: <span id="result" class="text-red-200">Take a roll!</span></h6>
<button id="rollBtn" class="bg-blue-500 hover:bg-blue-700 transition ease-in-out duration-200 py-2 px-4 rounded">
<i class="fas fa-dice-d20"></i>
Roll!
</button>
<%- include('../layouts/main-close'); %>

<%- include('../layouts/footer'); %>

<!-- Bundled JS: jQuery, luxon -->
<script src="/scripts/bundle.js"></script>

<!-- Custom Scripts -->
<script src="/scripts/navbar-init.js"></script>
<script src="/scripts/footer-init.js"></script>
<script src="/scripts/restaurant-roulette.js"></script>
</body>
</html>